<h2 mat-dialog-title>Detalle del producto</h2>
<mat-card>
    <mat-card-content>
        <mat-card-title>Detalle del producto</mat-card-title>

        
    </mat-card-content> 
    <mat-card-content>
        <p><strong>ID:</strong> {{producto?.id}}</p>
        <p><strong>ID:</strong> {{producto?.nombre}}</p>
        <p><strong>ID:</strong> {{producto?.descripcion}}</p>

    </mat-card-content>

    <button mat-raised-button color="accent" (click)="irRegistro()"> Ir a registro nuevo producto</button>
</mat-card>