<mat-card>

    <mat-card-title> Registrar un nuevo producto </mat-card-title>
    <mat-card-content> 

        <form [formGroup]="formulario"  (ngSubmit)="guardar()">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label> Nombre</mat-label>
                <input matInput placeholder="producto nombre" formControlName="nombre"
                >            
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label> Descripcion</mat-label>
                <input matInput placeholder="descripcion"  formControlName="descripcion"
                >
            </mat-form-field>

            <button mat-raised-button color="primary">Guardar</button>
        </form>
    </mat-card-content>
</mat-card>