<mat-card>
    <mat-card-title>Crear producto</mat-card-title>
    <mat-card-content>
        <form #form="ngForm" (ngSubmit)="guardar()">

            <mat-form-field appearence="fill">
                <mat-label>Nombre</mat-label>
                <input [(ngModel)]="nombre" name="nombre" matInput placeholder="Ingresa nombre">
            </mat-form-field>

            <br>

            <mat-form-field appearence="fill">
                <mat-label>Descripcion</mat-label>
                <input [(ngModel)]="descripcion" name="descripcion" matInput placeholder="Ingresa descripcion">
            </mat-form-field>

            <br>

            <button mat-raised-button color="primary">Guardar</button>

        </form>
    </mat-card-content>
</mat-card>

