<h2>Listar Productos </h2>
<mat-table [dataSource]="productos" class="mat-elevation-z8">

    <ng-container matColumnDef="id">

        <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
        <mat-cell *matCellDef="let p">{{ p.id}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="nombre">

        <mat-header-cell *matHeaderCellDef> Nombre</mat-header-cell>
        <mat-cell *matCellDef="let p">{{ p.nombre}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="descripcion">

        <mat-header-cell *matHeaderCellDef> Descripcion</mat-header-cell>
        <mat-cell *matCellDef="let p">{{ p.descripcion}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let ro; columns:displayedColumns;"></mat-row>
    
</mat-table>

