<h2>Listar Productos </h2>
<mat-table [dataSource]="productos" class="mat-elevation-z8">

    <ng-container matColumnDef="id">

        <mat-header-cell *matHeaderCellDef> ID</mat-header-cell>
        <mat-cell *matCellDef="let p">{{ p.id}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="nombre">

        <mat-header-cell *matHeaderCellDef> Nombre</mat-header-cell>
        <mat-cell *matCellDef="let p">{{ p.nombre}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="descripcion">

        <mat-header-cell *matHeaderCellDef> Descripcion</mat-header-cell>
        <mat-cell *matCellDef="let p">{{ p.descripcion}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">

        <mat-header-cell *matHeaderCellDef> Acciones</mat-header-cell>
        <mat-cell *matCellDef="let p">
            <button mat-icon-button color="primary" (click)="abrirModalEditar(p)">

                <mat-icon>edit</mat-icon>
            </button>

             <button mat-icon-button color="warn" (click)="abrirDialogEliminar(p.id)">

                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
 

       
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let ro; columns:displayedColumns;"></mat-row>
    
</mat-table>


<ng-template #confirmDialog>
    
    
    <mat-card>
        <mat-card-header> <mat-card-title> Eliminar producto?</mat-card-title></mat-card-header>
        <mat-card-content>
            <button mat-button color="warn" (click)="confirmarEliminar()">Eliminar</button>
            <button mat-button (click)="cancelarEliminacion()">cancelar</button>
        </mat-card-content>
    </mat-card>


</ng-template>