<mat-card>

    <mat-card-title> Registrar un nuevo producto </mat-card-title>
    <mat-card-content> 

        <form (ngSubmit)="guardar()" #form="ngForm">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label> Nombre</mat-label>
                <input matInput placeholder="producto nombre" 
                name="nombre" [(ngModel)]="producto.nombre" required>            
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width">
                <mat-label> Descripcion</mat-label>
                <input matInput placeholder="descripcion" 
                name="descripcion" [(ngModel)]="producto.descripcion" required>
            </mat-form-field>

            <button mat-raised-button color="primary">Guardar</button>
        </form>
    </mat-card-content>
</mat-card>